footer.footer
  .container
    .content.has-text-centered
      p
        strong GameReviews
        | &nbsp;, created and maintained by 
        a(href='#') Company
        | . &copy; 2017, All Rights Reserved.
      p
        a.icon(href='#')
          i.fa.fa-gamepad
script(src='/js/jquery.min.js')
