nav.navbar
  .navbar-brand
    a.navbar-item(href='/home')
      span.icon
        i.fa.fa-gamepad
      span.icon(style='color: #aaa')
        i.fa.fa-trophy
      | &nbsp;Game
      span(style='color: #aaa') Reviews
    .navbar-burger
      span
      span
      span
  .navbar-menu
    .navbar-start
      a.navbar-item(href='/home') Home
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link Categories
        .navbar-dropdown  
          each c in categories
            a.navbar-item(href='#')= c.name
    .navbar-end
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link
          span.icon.is-small
            i.fa.fa-user
          | &nbsp;Username
        .navbar-dropdown
          a.navbar-item(href='/account') Account
          a.navbar-item(href='/manage') Manage
          hr.navbar-divider
          a.navbar-item
            span.icon.is-small
              i.fa.fa-sign-out
            | &nbsp;Logout
          
.modal#page-modal
  .modal-background
  .modal-content
    .box
  button.modal-close.is-large

.notification#status-notification(style='display: none')
  button.delete
  span
