nav.navbar
  .navbar-brand
    a.navbar-item(href='home')
      span.icon
        i.fa.fa-gamepad
      span.icon(style='color: #aaa')
        i.fa.fa-trophy
      | &nbsp;Game
      span(style='color: #aaa') Reviews
    .navbar-burger
      span
      span
      span
  .navbar-menu
    .navbar-start
      a.navbar-item(href='home') Home
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link Categories
        .navbar-dropdown  
          each c in categories
            a.navbar-item(href='#')= c.name
    .navbar-end
      if _user
        .navbar-item.has-dropdown.is-hoverable
          a.navbar-link(href='account', style='padding-top: 0; padding-bottom: 0')
            img.profile-pic(src='img/user/' + (_user.image ? _user.image : 'user.jpg'))
            = _user.username
          .navbar-dropdown
            a.navbar-item(href='account') Account
            a.navbar-item(href='manage') Manage
            hr.navbar-divider
            a.navbar-item(href='logout?ref=' + (url == '/login' ? '/' : url))
              span.icon.is-small
                i.fa.fa-sign-out
              | &nbsp;Logout
      else
        a.navbar-item(href='login?ref=' + (url == '/login' ? '/' : url))
          span.icon.is-small
            i.fa.fa-lock
          | &nbsp;Login
          
.modal#page-modal
  .modal-background
  .modal-content
    .box
  button.modal-close.is-large

.notification#status-notification(style='display: none')
  button.delete
  span
