p {
  margin-bottom: 15px;
}

.article-header::after,
.article::after,
dl::after {
  content: "";
  display: table;
  clear: both;
}

.header-flair {
  float: left;
  margin-right: 25px;
  height: 200px;
}

.header-flair img {
  width: 125px;
  height: 200px;
}

.header-text {
  float: left;
  padding-top: 70px;
}

.article {
  position: relative;
}

.article-content {
  float: left;
  padding: 25px 450px 25px 50px;
}

.article-content ul,
.article-content dl {
  margin-bottom: 10px;
  font-weight: 500;
}

dt, dd {
  float: left;
}
dt {
  clear:both;
  width: 50px;
  text-align: right;
  padding-right: 10px;
}

blockquote {
  /*background-color: whitesmoke;*/
  font-size: 1.25em;
  padding: 1.25em 1.5em;
}

blockquote:nth-of-type(even) {
  border-left: 5px solid #dbdbdb;
}

blockquote:nth-of-type(odd) {
  text-align: right;
  border-right: 5px solid #dbdbdb;
}

blockquote:not(:last-child) {
  margin-bottom: 1em;
}

.rating {
  font-size: 1.5em;
  padding: 0.3em;
  padding-top: 0.15em;
  font-weight: 500 !important;
  color: #fff;
  border-radius: 0.5em;
}

.article-sidebar {
  position: absolute;
  top: 25px; right: 25px;
  width: 350px;
}

@media (max-width: 1249px) {
  .article-sidebar {
    display: none;
  }

  .article-content {
    padding-right: 50px;
  }
}

@media (max-width: 1111px) {
  .header-text {
    padding-top: 10px;
  }

  .header-flair {
    height: 100%;
    width: 100%;
    padding: 1% 60% 5% 0;
  }

  .header-flair img {
    border: 12px solid #444;
    border-radius: 6px;
    width: 80%;
    margin: 0 auto 0 10px;
    display: block;
    height: auto;
    box-shadow: 0 30px 10px -10px gray;
  }

  .article-content {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .header-flair {
    padding: 15%;
  }

  .header-flair img {
    width: 100%;
  }
}
