#content-wrapper {
  min-height: 80vh !important;
}

p {
  margin-bottom: 15px;
  width: 100%;
}

p.img img {
  width: 40%;
  min-width: 450px;
  float: left;
  margin-right: 20px;
}

p.img:nth-of-type(odd) img {
  float: right;
  margin-left: 20px;
}

h1 {
  color: #363636;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.125
}

h2 {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 10px;
}

h3 {
  margin-top: -20px;
  font-size: 10px;
  padding-left: 5px;
}

h4 {
  margin-bottom: 10px;
}

s {
  color: #f00;
  font-style: italic;
  text-decoration: none;
}

s::before {
  content: "< ";
  color: #f00;
}

s::after {
  content: " >";
  color: #f00;
}

.article-body::after {
  content: "";
  display: table;
  clear: both;
}

.article-edit {
  position: absolute;
  right: 4%; top: 25px;
  right: calc(2.5% + 25px);
  z-index: 2;
}

.article-review {
  position: absolute;
  right: 4%; top: 70px;
  right: calc(2.5% + 25px);
  z-index: 2;
}

.article-category {
  position: absolute;
  right: 0; bottom: 15px;
  padding: 1em 1em 1em 2em;
  color: #fff;
  background: #ff0368;
  z-index: 2;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.article-header::after,
.article::after,
dl::after {
  content: "";
  display: table;
  clear: both;
}

.header-flair {
  float: left;
  margin-right: 25px;
  height: 200px;
}

.header-flair img {
  width: 125px;
  height: 200px;
  object-fit: cover;
}

.header-text {
  float: left;
  padding-top: 70px;
}

.article {
  position: relative;
}

.article-content {
  width: 100%;
  float: left;
  padding: 25px 400px 25px 50px;
}

.article-content ul,
.article-content dl {
  margin-bottom: 10px;
  font-weight: 500;
}

dt, dd {
  float: left;
}
dt {
  clear:both;
  width: 50px;
  text-align: right;
  padding-right: 10px;
}

blockquote {
  /*background-color: whitesmoke;*/
  font-size: 1.25em;
  padding: 1.25em 1.5em;
}

blockquote:nth-of-type(even) {
  border-left: 5px solid #dbdbdb;
}

blockquote:nth-of-type(odd) {
  text-align: right;
  border-right: 5px solid #dbdbdb;
}

blockquote:not(:last-child) {
  margin-bottom: 1em;
}

.rating {
  display: inline-block;
  font-size: 1.5em;
  padding: 0.3em;
  padding-top: 0.15em;
  font-weight: 500 !important;
  color: #fff;
  border-radius: 0.5em;
  margin: 10px 0 8px 0;
}

.article-sidebar {
  position: absolute;
  top: 25px; right: 25px;
  width: 300px;
}

@media (max-width: 1599px) {
  #content-wrapper {
    min-height: 0 !important;
  }

  .article-sidebar {
    position: relative;
    top: auto; right: auto;
    width: auto;
  }

  .article-content {
    padding-right: 50px;
  }
}

@media (max-width: 1111px) {
  .header-text {
    padding-top: 10px;
  }

  .header-flair {
    height: 100%;
    width: 100%;
    padding: 1% 60% 5% 0;
  }

  .header-flair img {
    border: 12px solid #444;
    border-radius: 6px;
    width: 80%;
    margin: 0 auto 0 10px;
    display: block;
    height: auto;
    box-shadow: 0 30px 10px -10px rgba(0,0,0,0.3);
  }

  .article-content {
    padding: 0;
  }

  p.img img {
    width: inherit;
    float: none;
    margin: 0;
  }

  p.img:nth-of-type(odd) img {
    float: none;
    margin: 0;
  }
}

@media (max-width: 767px) {
  dt {
    width: 20px;
  }

  .article-edit {
    top: 1%; right: auto;
    left: 30%;
    transform: translate(-30%, 0);
  }

  .article-review {
    top: 1%; right: auto;
    left: 70%;
    transform: translate(-70%, 0);
  }

  .article-content {
    font-size: 0.9em;
  }

  .header-flair {
    padding: 15%;
  }

  .header-flair img {
    width: 100%;
    margin: 0 auto;
  }
}
