#editor {
  min-height: 200px;
  max-height: 50vh;
  background: #fff;
  overflow-y: auto;
}

.ql-editor {
  padding-bottom: 50px;
}

.ql-editor s {
  color: #f00;
  text-decoration: none;
}

.ql-editor s::before {
  content: "< "
}

.ql-editor s::after {
  content: " >"
}

.rating-swatch {
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 0.5em;
  font-weight: 500;
  color: #fff;
}

.panel-tabs,
.panel-block {
  background: #f8f8f8;
}

@media (max-width: 1112px) {
  #editor {
    max-height: 70vh;
  }
}