html, body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #1f57cb, #61179e);
  overflow-x: hidden;
  overflow-y: auto;
}

#page-wrapper,
.bg-gradient {
  width: 100%;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05));
}

.bg-gradient h1,
.bg-gradient h2 {
  color: whitesmoke;
}

#content-wrapper {
  width: 95%;
  margin: 0 auto 50px auto;
  padding: 25px;
  background: rgba(255, 255, 255, 0.9);
  min-height: 600px;
}

#page-wrapper .breadcrumb {
  margin-left: 20px;
  margin-bottom: 10px;
}

#page-wrapper .breadcrumb a {
  color: whitesmoke;
}

#page-wrapper .breadcrumb li.is-active a {
  font-weight: 700;
}

#page-wrapper .breadcrumb li + li::before {
  color: whitesmoke;
}

#status-notification {
  position: absolute;
  z-index: 10;
  right: 30px; bottom: 10px;
  width: 300px;
}

.r1 { background: #cccccc }
.r2 { background: #ccabab }
.r3 { background: #cc6868 }
.r4 { background: #cc817c }
.r5 { background: #cc987c }
.r6 { background: #ccb278 }
.r7 { background: #c7cc86 }
.r8 { background: #87cc86 }
.r9 { background: #86cca2 }
.r10 { background: #00d1b2 }

.rhide {
  border-radius: 0.5em;
}

.rhide:not(:hover):not(.is-active) {
  background: transparent;
  color: #363636;
}

.rhide:hover {
  color: #fff;
}

@media (max-width: 767px) {
  #content-wrapper {
    padding: 15px;
  }

  #page-wrapper .breadcrumb {
    margin-left: 0;
    margin-bottom: 5px;
  }

  .breadcrumb > ul > li:not(:first-child):not(:last-child) {
    display: none;
  }
}
