doctype html
html
  head
    title Home
    include includes/head.pug
    
  body
    include includes/nav.pug
    #page-wrapper
      #content-wrapper
        h1.title Account Management
        h2.subtitle= user
      
        
      
    include includes/foot.pug
