doctype html
html
  head
    case render
      when 'menu'
        title Manage | Home
      when 'games'
        title Manage | Games
      when 'articles'
        title Manage | Articles
      when 'users'
        title Manage | Users
    include includes/head.pug
    unless render == 'menu'
      include includes/quill/head.pug
    link(href='css/datepicker.min.css', rel='stylesheet')
    link(href='css/create.css', rel='stylesheet')
    
  body
    include includes/nav.pug
    #page-wrapper
      #content-wrapper
        if render == 'menu'
          h1.title Administration
          h2.subtitle viewing&nbsp;
            strong all modules
              span.icon
                i.fa.fa-caret-down
            
          .columns
            .column.is-one-third-desktop.is-one-half-tablet
              include components/article-pane.pug
                  
            .column.is-one-third-desktop.is-one-half-tablet
              include components/content-pane.pug
                    
            .column.is-one-third-desktop.is-one-half-tablet
              include components/user-pane.pug
        
        if render == 'games'
          include components/create-game.pug
          
        if render == 'articles'
          include components/create-article.pug
          
        if render == 'users'
          include components/create-user.pug
          
      nav.breadcrumb
        ul
          li
            a(href='home')
              span.icon.is-small
                i.fa.fa-home
          if render == 'menu'
            li.is-active
              a(href='#') Manage
          else
            li
              a(href='manage') Manage
            if render == 'games'
              li
                if game
                  a(href='manage/games') Games
                else
                  a(href='#') Games
            if render == 'articles'
              li
                if article
                  a(href='manage/articles') Articles
                else
                  a(href='#') Articles
            if render == 'users'
              li
                if user
                  a(href='manage/users') Users
                else
                  a(href='#') Users
            if article
              li.is-active
                a(href='#')= article._id
            else if game
              li.is-active
                a(href='#')= game._id
            else if user
              li.is-active
                a(href='#')= user._id
            else
              li.is-active
                a(href='#') Add New
            
    include includes/foot.pug
    script(src='js/datepicker.min.js')
    script(src='js/datepicker.en.js')
    script(src='js/moment.js')
    unless render == 'menu'
      include includes/quill/foot.pug
    script(src='js/create.js')
