doctype html
html
  head
    case render
      when 'menu'
        title Manage | Home
      when 'games'
        title Manage | Games
      when 'articles'
        title Manage | Articles
      when 'authors'
        title Manage | Authors
    include includes/head.pug
    unless render == 'menu'
      include includes/quill/head.pug
    link(href='/css/datepicker.min.css', rel='stylesheet')
    link(href='/css/create.css', rel='stylesheet')
    
  body
    include includes/nav.pug
    #page-wrapper
      #content-wrapper
        if render == 'menu'
          h1.title Administration
          h2.subtitle viewing&nbsp;
            strong all modules
            
          .columns
            .column.is-one-third-desktop.is-one-half-tablet
              nav.panel
                p.panel-heading Content
                p.panel-tabs
                  a.is-active Articles
                  a Games
                  a Authors
                each a in articles
                  a.panel-block(href='/manage/articles/' + a._id)
                    span.panel-icon
                      i.fa.fa-newspaper-o
                    = a.title
                a.panel-block(href='/manage/articles')
                  span.panel-icon
                    i.fa.fa-plus
                  | Create New Article
            .column.is-one-third-desktop.is-one-half-tablet
              nav.panel
                p.panel-heading Users
                p.panel-tabs
                  a.is-active Administrators
                  a Contributors
                  a Readers
                each u in ['Aaron Ross', 'Jay Bloder', 'Liz Borowski']
                  a.panel-block(href='#')
                    span.panel-icon
                      i.fa.fa-user
                    = u
        
        if render == 'games'
          include components/create-game.pug
          
        if render == 'articles'
          include components/create-article.pug
          
        if render == 'authors'
          include components/create-author.pug
          
      nav.breadcrumb
        ul
          li
            a(href='/home')
              span.icon.is-small
                i.fa.fa-home
          if render == 'menu'
            li.is-active
              a(href='#') Manage
          else
            li
              a(href='/manage') Manage
            if render == 'games'
              li
                if game
                  a(href='/manage/games') Games
                else
                  a(href='#') Games
            if render == 'articles'
              li
                if article
                  a(href='/manage/articles') Articles
                else
                  a(href='#') Articles
            if render == 'authors'
              li
                if author
                  a(href='/manage/authors') Authors
                else
                  a(href='#') Authors
            if article
              li.is-active
                a(href='#')= article._id
            else if game
              li.is-active
                a(href='#')= game._id
            else if author
              li.is-active
                a(href='#')= author._id
            else
              li.is-active
                a(href='#') Add New
            
    include includes/foot.pug
    script(src='/js/datepicker.min.js')
    script(src='/js/datepicker.en.js')
    script(src='/js/moment.js')
    unless render == 'menu'
      include includes/quill/foot.pug
    script.
        
      $('.article-submit').on('click', function() {
        if (!$(this).attr('data-id')) return;
        $(this).addClass('is-loading');
        var data = $('#content-form').serializeArray();
        var o = {};
        $(data).each(function(i, x) {
          o[x.name] = x.value;
        });
        o.publishedOn = moment(o.date, 'MM/DD/YYYY').toDate();
        delete o.date;
        o.content = $('#editor[name="content"] .ql-editor').html();
        o.ups = o.ups.split(',').map(function(x) {
          return x.trim();
        });
        o.downs = o.downs.split(',').map(function(x) {
          return x.trim();
        });
        o._id = $(this).attr('data-id');
        var that = this;
        $.post({
          url: '/manage/articles/' + o._id,
          data: o,
          success: function(response) {
            $(that).removeClass('is-loading');
            var msg = (response == 'OK' ? 'Updated successfully!' : 'Something went wrong: ' + response);
            var status = (response == 'OK' ? 'primary' : 'warning');
            $('#status-notification').addClass('is-' + status).find('span').text(msg).end().fadeIn();
            setTimeout(function() {
              $('#status-notification').fadeOut(function() {
                $(this).removeClass('is-' + status);
              });
            }, 5000);
          }
        })
      });
