doctype html
html
  head
    title Home
    include includes/head.pug
    
  body
    include includes/nav.pug
    section.hero.bg-gradient.is-fullheight
      .hero-body
        .container
          h1.title Welcome to the site!
          h2.subtitle We're the best, basically.
      
    include includes/foot.pug
