doctype html
html
  head
    title Home
    include includes/head.pug
    
  body
    include includes/nav.pug
    #page-wrapper
      #content-wrapper
        h1.title Homepage
        h2.subtitle Article List
        
        ul
          each a in articles
            li
              a(href='/article/' + a._id)= a.title || 'Untitled Article'
          li
            a(href='/article') Article Template
      
    include includes/foot.pug
